.btn-whatsapp {
    display: block;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 12px;
    text-align: center;
    z-index: 999;
    -webkit-box-shadow: 9px 10px 41px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 41px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 10px 41px -5px rgba(0, 0, 0, 0.75);
}