<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/imagenes/banner/imagen1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>CONJUROS DE AMOR</h3>
          <h5 class="light grey-text text-lighten-3">Descuentos de Navidad</h5>
          <a href="https://api.whatsapp.com/send?phone=573007797336text=" class="waves-effect waves-light btn-large ">Comunicate con nosotros!..</a>
        </div>
      </li>
      <li>
        <img src="assets/imagenes/banner/imagen2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>CONJUROS DE AMOR</h3>
          <h5 class="light grey-text text-lighten-3">Descuentos de Navidad</h5>
        </div>
      </li>
      <li>
        <img src="assets/imagenes/banner/imagen3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>CONJUROS DE AMOR</h3>
          <h5 class="light grey-text text-lighten-3">Descuentos de Navidad</h5>
        </div>
      </li>
      <li>
        <img src="assets/imagenes/banner/imagen4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>CONJUROS DE AMOR</h3>
          <h5 class="light grey-text text-lighten-3">Descuentos de Navidad</h5>
        </div>
      </li>
      <li>
        <img src="assets/imagenes/banner/imagen5.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>CONJUROS DE AMOR</h3>
          <h5 class="light grey-text text-lighten-3">Descuentos de Navidad</h5>
        </div>
      </li>
    </ul>
  </div>