<app-menu></app-menu>
<app-banner></app-banner>


<!--<div class="row container center-text">
  <div class="col m4">
    <h4>Conjuros de amor</h4>
    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
    <h6>Con nuestros Conjuros te ayudamos en el Amor, la Suerte, la Salud y a conquistar a ese ser amado que tanto deseas.
    </h6>
    <a class="waves-effect waves-light btn">Comunicate con nosotros</a>

  </div>
  <div class="col m6">
    <video class="responsive-video" width="700px" controls>
      <source src="https://youtu.be/7ftrUdKFKZg" type="video/mp4">
    </video>
  </div>
</div>-->

<div class="row container">
  <div class="col s12 m2 offset-m1">
    <div class="center promo">
      <img class="imagen-servicios" src="assets/imagenes/servicios/tetragranmaton.jpg">
      <h5 class="promo-caption">Protección</h5>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="center promo">
      <img class="imagen-servicios" src="assets/imagenes/servicios/san-judas-tadeo.jpg">
      <h5 class="promo-caption">Amarres del mismo sexo</h5>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="center promo">
      <img class="imagen-servicios" src="assets/imagenes/servicios/san-antonio-de-padua.jpeg">
      <h5 class="promo-caption">Amor</h5>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="center promo">
      <img class="imagen-servicios" src="assets/imagenes/servicios/rosa mistica.jpg">
      <h5 class="promo-caption">Salud</h5>
    </div>
  </div>

  <div class="col s12 m2">
    <div class="center promo">
      <img class="imagen-servicios" src="assets/imagenes/servicios/san-cayetano.jpg">
      <h5 class="promo-caption">Prosperidad</h5>
    </div>
  </div>
</div>

<div class="row container">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen3.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen2.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen4.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

<div class="row center-align">
  <h3>Testimonios</h3>
</div>

<div class="row container">
  <div class="col s12 m4">
    <div class="center promo">
      <img class="imagen-comentario" src="assets/imagenes/comentarios/profile.png">
      <h5 class="promo-caption">Luis Antonio Garcia</h5>
      <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center promo">
      <img class="imagen-comentario" src="assets/imagenes/comentarios/profile1.jpg">
      <h5 class="promo-caption">Jorge Camargo</h5>
      <p class="light center">By utilizing elements and principles of Material Design, that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center promo">
      <img class="imagen-comentario" src="assets/imagenes/comentarios/profile2.jpg">
      <h5 class="promo-caption">Adriana Arias</h5>
      <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
    </div>
  </div>
</div>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <h5 class="white-text">Conjuros de Amor</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Menu Principal</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Oraciones</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
        </ul>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Servicios</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Tetragranmaton</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Amarres del mismo sexo</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Amor</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Salud</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Prosperidad</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © {{ year }} Copyright - Todos los derechos reservados
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
