<section>
  <app-banner></app-banner>
</section>
<section class="row container">
  <app-servicios></app-servicios>
</section>

<div class="row container">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen3.jpg" />
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen2.jpg" />
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/imagenes/banner/imagen4.jpg" />
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

<div class="row center-align">
  <h3>Testimonios</h3>
</div>

<div class="row container">
  <div class="col s12 m4">
    <div class="center promo">
      <img
        class="imagen-comentario"
        src="assets/imagenes/comentarios/profile.png"
      />
      <h5 class="promo-caption">Luis Antonio Garcia</h5>
      <p class="light center">
        We did most of the heavy lifting for you to provide a default stylings
        that incorporate our custom components. Additionally, we refined
        animations and transitions to provide a smoother experience for
        developers.
      </p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center promo">
      <img
        class="imagen-comentario"
        src="assets/imagenes/comentarios/profile1.jpg"
      />
      <h5 class="promo-caption">Jorge Camargo</h5>
      <p class="light center">
        By utilizing elements and principles of Material Design, that
        incorporates components and animations that provide more feedback to
        users. Additionally, a single underlying responsive system across all
        platforms allow for a more unified user experience.
      </p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center promo">
      <img
        class="imagen-comentario"
        src="assets/imagenes/comentarios/profile2.jpg"
      />
      <h5 class="promo-caption">Adriana Arias</h5>
      <p class="light center">
        We have provided detailed documentation as well as specific code
        examples to help new users get started. We are also always open to
        feedback and can answer any questions a user may have about Materialize.
      </p>
    </div>
  </div>
</div>
