<section>
  <app-banner></app-banner>
</section>

<br><br>
<section class="row center-align" id="servicios">
  <h3>Servicios</h3>
</section>
<br><br><br><br>


<section class="row container">
  <app-servicios></app-servicios>
</section>
<br><br><br><br>



<section class="row container">
  <app-tarjetas></app-tarjetas>
</section>
<br><br>

<section class="row center-align" id="testimonios">
  <h3>Testimonios</h3>
</section>
<br><br>

<section class="row container">
 <app-testimonios></app-testimonios>
</section>
