.anuncio{
    display: flex; 
    color: white;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    width: 100%;
}

h4, h5, a{
    margin-right: 10px;
}

a{
    color: white ;
    font-size: 24px;
    background-color:darkred;
    opacity: 0.8;
    padding: 27px;
}

a:hover{
    color: thistle;
    opacity: 1;
}